<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">脚本执行记录</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table" st-table="logs" st-safe-src="rowLogs">
                <thead>
                <tr class="sortable ">
                    <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                    <th st-sort="name">脚本任务</th>
                    <th st-sort="cmd">指令</th>
                    <th st-sort="status">执行状态</th>
                    <th st-sort="createTime">执行时间</th>
                    <th>查看</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="item in logs">
                    <td class="table-id">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.cmd}}</td>
                    <td>
                        <front ng-if="item.status==1" style='color: #00ee00'>执行成功</front>

                        <front ng-if="item.status!=1" style='color: #CC2222'>执行失败</front>

                    <td>{{item.createTime}}</td>
                    <td>
                        <button class="btn btn-primary btn-icon" ng-click="open(item.id)"><i
                                class="ion-search"></i></button>

                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">确定</button>
    </div>
</div>
