<div class="row">

    <div class="col-md-12">
        <div ba-panel ba-panel-title="mantis1" ba-panel-class="with-scroll panel-info">
            <div class="col-xs-6">
                <h4>项目问题</h4>
                <div id="pie-mantis1" title="mantis1" class="admin-chart" ng-controller="ProblemPieChartCtrl" ></div>
            </div>
            <div class="col-xs-6">

                <button type="button" class="btn btn-primary" ng-click="jumpTo('mantis')">转到</button>

                <div id="bar-mantis1" title="mantis1" class="admin-chart" ng-controller="ProblemBarChartCtrl" ></div>


            </div>

        </div>
    </div>
    <div class="col-md-12">
    <div ba-panel ba-panel-title="mantis2" ba-panel-class="with-scroll panel-info">
        <div class="col-xs-6">
            <h4>项目问题</h4>
            <div id="pie-mantis2" title="mantis2" class="admin-chart" ng-controller="ProblemPieChartCtrl" ></div>
        </div>
        <div class="col-xs-6">

            <button type="button" class="btn btn-primary" ng-click="jumpTo('mantis2')">转到</button>
            <div id="bar-mantis2" title="mantis1" class="admin-chart" ng-controller="ProblemBarChartCtrl" ></div>

        </div>

    </div>
</div>
</div>
