<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="数据库" ba-panel-class="with-scroll panel-info">

            <!--<div class="horizontal-scroll">
                <div class="form-group select-page-size-wrap ">
                    <label>页面数据条目
                        <select class="form-control selectpicker show-tick" title="页面数据条目" selectpicker
                                ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                        </select>
                    </label>
                </div>
                -->
            <table class="table" st-table="reports">
                <thead>
                <tr class="sortable ">
                    <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                    <th st-sort="name">报告名称</th>
                    <th st-sort="createTime">巡检时间</th>
                    <th st-sort="creator">巡检人</th>
                    <th st-sort="summary">结论</th>
                    <th>查看报告</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input st-search="name" placeholder="搜索报告名称" class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="createTime" placeholder="搜索时间" class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="creator" placeholder="搜索巡检人" class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="summary" placeholder="搜索结论" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in reports">
                    <td class="table-id">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.creator}}</td>
                    <td>{{item.summary}}</td>
                    <td>
                        <button class="status-button btn btn-xs btn-info">查看</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>


    </div>
</div>
</div>